

.recommendation__main {


    h2 {
        text-align: left;
        padding-inline: 1rem;
        font-size: 1.5rem;
    }

    .recommendation__movies {
        padding-inline: 1.5rem;
    }
}

footer {
    padding: 3rem 2rem;
}