<div class="user-content">
  <div class="content-header">
    <h1>Welcome back, {{ user.name }}!</h1>
    <p class="subtitle">Discover your next favorite movie</p>
  </div>

  <div class="content-body">
    <div class="metrics">
      <div class="card">
        <div class="card__icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-eye-icon lucide-eye"
          >
            <path
              d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"
            />
            <circle cx="12" cy="12" r="3" />
          </svg>
        </div>
        <div>
          <div class="value">{{ user.moviesWatched }}</div>
          <div class="label">Movies Watched</div>
        </div>
      </div>

      <div class="card">
        <div class="card__icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-star-icon lucide-star"
          >
            <path
              d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.123 2.123 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.123 2.123 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.122 2.122 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.122 2.122 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.122 2.122 0 0 0 1.597-1.16z"
            />
          </svg>
        </div>
        <div>
          <div class="value">{{ user.avgRating }}</div>
          <div class="label">Avg Rating</div>
        </div>
      </div>
      <div class="card">
        <div class="card__icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-heart-icon lucide-heart"
          >
            <path
              d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"
            />
          </svg>
        </div>
        <div>
          <div class="value">{{ user.favorites }}</div>
          <div class="label">Favorites</div>
        </div>
      </div>
    </div>

    <section class="trending-section app-container">
      <h2 class="trending-section__title">Trending Movies</h2>
      <div class="trending-section__carousel">
        <div class="trending-section__list">
          <app-trending-movie-card
            *ngFor="let movie of trendingMovies; let i = index"
            [image]="movie.image"
            [alt]="movie.title"
            [rank]="i + 1"
          ></app-trending-movie-card>
        </div>
      </div>
    </section>

    <div class="table-section">
      <h2>Favorite Movies</h2>
      <div class="favorite-list favorite-list--grid">
        <app-movie-favorite-card
          *ngFor="let movie of favorites"
          [movie]="movie"
          class="favorite-list__item"
        ></app-movie-favorite-card>
      </div>
    </div>
  </div>
</div>
