
  <video #mediaElement [src]="videoUrl" (timeupdate)="onTimeUpdate()" (loadedmetadata)="onLoadedMetadata()" [volume]="volume" [playbackRate]="playbackRate" width="100%" controls preload="metadata"></video>
  
  <!-- <div class="debug-info">
    <p>Video URL: {{ videoUrl }}</p>
    <p>Duration: {{ duration }} seconds</p>
    <p>Current Time: {{ currentTime }} seconds</p>
    <p *ngIf="videoError" style="color: red;">Error: {{ videoError }}</p>
    <p>Status: {{ duration > 0 ? 'Video loaded' : 'Loading...' }}</p>
  </div> -->
  
  <!-- <div class="controls">
    <button (click)="togglePlay()">{{ isPlaying ? 'Pause' : 'Play' }}</button>
    <input type="range" min="0" [max]="duration" [value]="currentTime" (input)="seek($event)" />
    <span>{{ currentTime | number:'1.0-0' }} / {{ duration | number:'1.0-0' }}</span>
    <input type="range" min="0" max="1" step="0.01" [value]="volume" (input)="changeVolume($event)" />
    <select [value]="playbackRate" (change)="changePlaybackRate($event)">
      <option *ngFor="let rate of [0.5, 1, 1.5, 2]" [value]="rate">{{ rate }}x</option>
    </select>
    <button (click)="toggleFullscreen()">Fullscreen</button>
  </div> -->
