<section aria-labelledby="register-heading" class="register__container">
  <div class="register__logo">
    <img src="assets/images/cineverse_logo.svg" alt="cineverse logo" />
  </div>

  <div class="register">
    <h2 id="register-heading" class="register__heading">Sign Up</h2>
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      aria-describedby="register-form-description"
      class="register__form"
    >
      <!-- Username Field -->
      <div class="register__field">
        <label class="register__label" for="username">Username</label>
        <input
          id="username"
          formControlName="username"
          autocomplete="username"
          required
          aria-required="true"
          aria-describedby="username-error"
          class="register__input"
          [ngClass]="{ 'invalid': username?.touched && username?.invalid || username?.errors?.['usernameTaken'] }"
        />
        @if (username?.touched && username?.invalid) {
          <p id="username-error" class="register__error">
            @if (username?.errors?.["required"]) {
              Username is required.
            }
            @if (username?.errors?.["minlength"]) {
              Minimum 3 characters required.
            }
          </p>
        }
        @if (username?.errors?.["usernameTaken"]) {
          <p id="username-error" class="register__error">
            Username already taken.
          </p>
        }
      </div>

      <!-- Email Field -->
      <div class="register__field">
        <p for="email" class="register__label">Email Address</p>
        <input
          id="email"
          formControlName="email"
          type="email"
          autocomplete="email"
          required
          aria-required="true"
          aria-describedby="email-error"
          class="register__input"
          [ngClass]="{
    'invalid': (email?.touched && email?.invalid) || email?.errors?.['emailTaken']
  }"
        />
        @if (email?.touched && email?.invalid) {
          <p id="email-error" class="register__error">
            @if (email?.errors?.["required"]) {
              Email is required.
            }
            @if (email?.errors?.["email"]) {
              Invalid email format.
            }
          </p>
        }
        @if (email?.errors?.["emailTaken"]) {
          <p id="email-error" class="register__error">
            Email is already registered.
          </p>
        }
      </div>

      <!-- Password Field -->
      <div class="register__field">
        <p for="password" class="register__label">Password</p>
        <input
          id="password"
          formControlName="password"
          type="password"
          autocomplete="new-password"
          required
          aria-required="true"
          aria-describedby="password-error"
          class="register__input"
          [ngClass]="{
    'invalid': password?.touched && password?.invalid
  }"
        />
        @if (password?.touched && password?.invalid) {
          <p id="password-error" class="register__error">
  @if (password?.errors?.['required']) {
    Password is required.
  }
  @if (password?.errors?.['minlength']) {
    Minimum 8 characters required.
  }
  @if (password?.errors?.['weakPassword']) {
    Password must contain uppercase, lowercase, number, and special character.
  }
</p>

        }
      </div>

      <!-- Confirm Password Field -->
      <div class="register__field">
        <mat-label for="confirmPassword" class="register__label"
          >Confirm Password</mat-label
        >
        <input
          matInput
          id="confirmPassword"
          formControlName="confirmPassword"
          type="password"
          autocomplete="new-password"
          required
          aria-required="true"
          aria-describedby="confirm-password-error"
          class="register__input"
          [ngClass]="{
    'invalid': (confirmPassword?.touched && confirmPassword?.invalid) || passwordMismatch
  }"
        />
        @if (
          (confirmPassword?.touched && confirmPassword?.invalid) ||
          passwordMismatch
        ) {
          <p id="confirm-password-error" class="register__error">
            @if (confirmPassword?.errors?.["required"]) {
              Confirm Password is required.
            }
            @if (passwordMismatch) {
              Passwords do not match.
            }
          </p>
        }
      </div>

      <!-- Submit Button -->
      <button
        type="submit"
        aria-label="Submit registration form"
        class="register__submit"
      >
        Create an Account
      </button>

      <p aria-hidden="true" class="register__footer">
        Already have an account?
        <a routerLink="/sign-in" class="register__link">Log in</a>
      </p>
    </form>
  </div>
</section>
