/* You can add global styles to this file, and also import other style files */
@use "../src/styles/reset" as *;
@use "../src/styles/variables" as *;
@use "../src/styles/button" as *;
@use "../src/styles/radius" as *;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


.success-snackbar {
  background: #1f263a; 
  color: #ffffff;
  backdrop-filter: blur(10px) saturate(150%);
  -webkit-backdrop-filter: blur(10px) saturate(150%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.error-snackbar {
  background: #1f263a; 
  color: #ffffff;
  backdrop-filter: blur(10px) saturate(150%);
  -webkit-backdrop-filter: blur(10px) saturate(150%);
  border-radius: 5px;
}

