<div class="admin-layout">
  <!-- Header -->
  <header class="admin-header">
    <div class="logo">
      <img src="assets/images/cineverse_logo.svg" alt="Cineverse Logo" />
    </div>
    <img class="avatar" src="assets/images/profile.jpg" alt="Avatar" />
  </header>

  <!-- Layout Container -->
  <div class="admin-body">
    <app-sidebar (logoutClicked)="onLogoutClick()"></app-sidebar>

    <main class="admin-main">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<app-confirm-modal
  *ngIf="showLogoutModal"
  [title]="'Confirm Logout'"
  [message]="'Are you sure you want to logout?'"
  [confirmText]="'Yes, Logout'"
  [cancelText]="'Cancel'"
  (confirm)="confirmLogout()"
  (cancel)="cancelLogout()"
/>
