<div class="movie-card">
  <div class="card-container">
    <div class="image-container">
      <img
        [src]="movie.poster_path"
        [alt]="movie.original_title"
        class="movie-image"
      />
    </div>

    <div class="content-container">
      <div class="title-container">
        <h1 class="movie-title">{{ movie.original_title }}</h1>

        <button
          mat-icon-button
          class="bookmark-button"
          (click)="toggleBookmark()"
        >
          <!-- <mat-icon>{{
            movie.isBookmarked ? "bookmark" : "bookmark_border"
            "bookmark_border"
          }}</mat-icon> -->
        </button>
      </div>
      <div class="meta-container">
        <div class="meta-item">
          <span>{{ movie.release_date }}</span>
          <mat-icon class="calendar-icon">calendar_month</mat-icon>
        </div>

        <span class="separator">•</span>

        <div class="meta-item">
          <span>{{ movie.adult }}</span>
          <mat-icon class="meta-icon">{{ getTypeIcon("movie") }}</mat-icon>
        </div>

        <span class="separator">•</span>

        <div class="meta-item">
          <span>{{ movie.vote_average }}</span>
          <mat-icon class="outlined-star">star</mat-icon>
        </div>
      </div>

      <div class="genres-container">
        <!-- <span *ngFor="let genre of movie." class="genre-tag">
          {{ genre }}
        </span> -->
      </div>
    </div>
  </div>
</div>
