<div class="movie-card">
  <div class="card-container">
    <div class="image-container">
      <img [src]="movie.thumbnailUrl" [alt]="movie.title" class="movie-image" />
    </div>

    <div class="content-container">
      <div class="title-container">
        <h1 class="movie-title">{{ movie.title }}</h1>

        <button mat-icon-button class="bookmark-button" (click)="toggleBookmark()">
          <mat-icon>{{ movie.isBookmarked ? 'bookmark' : 'bookmark_border' }}</mat-icon>
        </button>
      </div>
      <div class="meta-container">
        <div class="meta-item">
          <span>{{ movie.releaseYear }}</span>
          <mat-icon class="calendar-icon">calendar_month</mat-icon>
        </div>

        <span class="separator">•</span>

        <div class="meta-item">
          <span>{{ movie.mediaType === 'MOVIE' ? 'Movie' : 'Series' }}</span>
          <!-- <mat-icon class="meta-icon">{{ getTypeIcon(movie.mediaType) }}</mat-icon> -->
          <mat-icon class="meta-icon">{{
            movie.mediatype === 'MOVIE' ? 'movie' : 'live_tv'
          }}</mat-icon>
        </div>

        <span class="separator">•</span>

        <div class="meta-item">
          <span>{{ movie.averageRating }}</span>
          <mat-icon class="outlined-star">star</mat-icon>
        </div>
      </div>

      <div class="genres-container">
        <span *ngFor="let genre of movie.genres" class="genre-tag">
          {{ genre }}
        </span>
      </div>
    </div>
  </div>
</div>
